@import "../../../color.scss";

#top {
    .wrapper_swim_rattaco {
        position: relative;
        height: 6rem;
    }
    img.swim_rattaco {
        position: absolute;
        display: block;
        right: -3rem;
        top: 0;
        width: 3rem;
        animation: rattaco_vertical 1.5s infinite alternate ease-in-out, rattaco_horizontal 6s infinite linear;
    }

    @keyframes rattaco_horizontal {
        100% {
            right: 100vw;
        }
    }

    @keyframes rattaco_vertical {
        50% {
            top: 1.5rem;
        }
        100% {
            top: .5rem;
        }
    }
}

#eyecatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../img/theme/eyecatch.png");
    background-size: cover;
    height: 10rem;
    text-align: right;
    margin-bottom: 1rem;
    p {
        padding: 1rem;
        filter: drop-shadow(1px 1px 3px $white);
        background-color: rgba($white, .4);
    }
}

button#search-button {
    color: $grey;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    right: .3rem;
    top: 1.3rem;
    background-color: transparent;
    border: none;
}

#toranking {
    text-decoration: none;
}

