.App {
}

ul {
  padding-left: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.CardContainer {
  margin-top: 10%;
  background-color: white;
  padding: 8%;
  border-radius: 15px;
  margin: 2% 5%;
  color: #282c34;
}

.HeadContainer {
  background-color: yellow;
  padding: 5%;
  margin-left: 10;
  font-size: calc(22px + 2vmin);
}

.HeadText {
  font-size: 20px;
  word-spacing: 30px;
}
