.App {
}

ul {
  margin: 0;
  padding-left: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.CardContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  background-color: white;
  padding: 6%;
  border-radius: 15px;
  margin: 0 2% 3% 2%;
  color: #282c34;
}

.HeadContainer {
  color: white;
  padding: 5%;
  margin-left: 10;
  font-size: calc(22px + 2vmin);
}

.HeadText {
  margin-top: 10%;
  font-size: 20px;
  color: #8d8e8e;
  word-spacing: 30px;
}
