$black: #00171F;
$grey: #7A868A;
$white: #F4F4F4;
$red: #E84855;
$yellow: #F5DF4D;
$blue: #3772FF;

:root {
  font-size: 16px;
}

#root {
  display: grid;
  grid-template-rows: 5rem 1fr;
  margin: 0 1rem 1rem;
}

.App {
  text-align: center;
  color: $black;
}

header {
  a {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
    height: 5rem;
    width: 100%;
  }
}

.App-logo {
  pointer-events: none;
  width: 160px;
}

.App-header {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}