$black: #00171F;
$grey: #7A868A;
$white: #F4F4F4;
$red: #E84855;
$yellow: #F5DF4D;
$blue: #3772FF;

.App {
  text-align: center;
  color: $black;
}

.App-logo {
  // background: url(./img/icon/logo.svg) no-repeat center center;
  width: fit-content;
  pointer-events: none;
  img {
    width: max-content;
  }
}

.App-header {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
