$black: #00171F;
$grey: #7A868A;
$white: #F4F4F4;
$red: #E84855;
$yellow: #F5DF4D;
$blue: #3772FF;

:root {
  font-size: 16px;
  background-color: $white;
  color: $black;
}

#root {
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1rem 1fr 1rem;
}

header {
  grid-column: 2;
  a {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
    height: 5rem;
    width: 100%;
  }
}

main{
  grid-column: 2;
}

.App-logo {
  pointer-events: none;
  width: 160px;
}